<section>
  <div>
    <h1 class="is-size-2">Form Validation:</h1>
  </div>
  <form action="#" #f="ngForm" (ngSubmit)="onSubmit(f.value)">
    <div class="columns">
      <div class="column">
        <label class="label">Phone Number:</label>
        <input type="text" name="telephone" ngModel required pattern="[0-9]*" minlength="10" #phone="ngModel"
          [ngModelOptions]="{updateOn: 'submit'}" class="input is-primary">
        <div [hidden]="phone.valid || phone.pristine">
          <div [hidden]="!phone.hasError('required')" class="has-text-danger">Phone number is required</div>
          <div [hidden]="!phone.hasError('minlength')" class="has-text-danger">Phone number should have atleast 10
            digits</div>
          <div [hidden]="!phone.hasError('pattern')" class="has-text-danger">Only digits are allowed</div>
        </div>
        <button type="submit" class="button is-primary">Submit</button>
        <!-- [disabled]="f.invalid" -->
      </div>
    </div>
  </form>
</section>
