  <div class="box is-size-3">
    <h1 class="has-text-centered has-text-primary">Async Validation</h1>
  </div>
  <form action="#" [formGroup]="myForm">
    <div class="columns is-centered">
      <div class="column is-3-desktop has-text-left">
        <div class="field">
          <div class="control">
            <div class="container">
              <label class="label">Enter your SSN:</label>
              <input type="text" formControlName="ssnControl" class="input is-primary">
              <div *ngIf="myForm.controls['ssnControl'].dirty">
                <div *ngIf="myForm.hasError('ssn', 'ssnControl')" class="has-text-danger">SSN is not valid ! Minimum 9 digits</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
