:host {
  display: block;
  padding: 2rem;
  margin: 1rem;
  background-color: lightgoldenrodyellow;
  border-radius: 5px;
}

.container {
    margin-top: 1rem;
}

button {
    margin-right: 1rem;
}

// .width-50 {
//     width: 50%
// }
// .width-25 {
//     width: 25%
// }

.box {
    margin: 0 auto;
    margin-bottom: 1rem;
}