:host {
    display: block;
    padding: 2rem;
    margin: 1rem;
    background-color: yellow;
    border-radius: 5px;
}
form {
    font-size: 2rem;
}

input {
    font-size: 2rem;
    outline: none;
    border: none;
    margin-left: 1rem;
    border-radius: 5px;
    padding: 1rem;
}

button {
    font-size: 2rem;
    padding: .5rem 2rem;
    border-radius: 5px;
    &:hover {
        background-color: cyan;
        outline: none;
    }
}

label {
    display: block;
    margin: 1rem;
}